# to install libraries, run:
# python -m pip download -r requirements.txt -d vendor\wheelhouse

# audio processing
ffmpeg-python
soundfile

# speech detection
silero_vad
torch<2.9
torchaudio<2.9
tensorflow-cpu
numpy
onnxruntime

# env
python-dotenv

# API server
fastapi
uvicorn[standard]
python-multipart
aiofiles
